@media(min-width: 1000px){
    section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pro-card{
        --card-height: 400px;
    }
    
    body{
        background: url('../images/bg-top.svg') top right/290px no-repeat,
        url('../images/bg-bottom.svg') bottom left/350px no-repeat;
    height: 100vh;
    }

}